/*GLOBAL & GENERAL*/
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 10, 20);
    font-size: 30px;
    height: 100vh;
}

section {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}





/*LAMP*/

.lamp {
    position: relative;
    top: -75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.lamp-cover {
    height: 120px;
    width: 300px;
    background-color: #b5af81;
    border-radius: 99999px 99999px 0 0;
    z-index: 2;
}

.lamp-light {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 400px;
    min-height: 100%;
    border-bottom: 100vh solid yellow;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

.lamp-bulb {
    height: 40px;
    width: 80px;
    background-color: rgb(212, 211, 194);
    border-radius: 0 0 99999px 99999px;
}

.lamp-chain {
    position: relative;
    top: -60px;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lamp-chain-link {
    background-color: #b3b3b3;
    width: 10px;
    height: 20px;
    border-radius: 8px;
}

.lamp-chain-handle {
    background-color: #846b58;
    width: 20px;
    height: 30px;
    border-radius: 32px;
}

@media (max-height: 936px) {
    .lamp-cover {
        height: 100px;
        width: 240px;
    }

    .lamp-bulb {
        height: 30px;
        width: 60px;
    }

    .lamp-chain {
        right: 40px;
    }

    .lamp-chain-link {
        width: 8px;
        height: 16px;
        border-radius: 4px;
    }
    
    .lamp-chain-handle {
        width: 12px;
        height: 20px;
        border-radius: 32px;
    }
}




/*SNOOZE*/

.snooze-container {
    background-color: rgb(74, 84, 94);
    box-shadow: 8px 8px 0px 0px #3a3a9c;
    z-index: 10;
    padding: 28px;
    border-radius: 20px;
}

.snooze-container p {
    font-size: 28px;
    font-family: "Boldonse", sans-serif;
    color: white;
    z-index: 11;
    margin: 0;
}

@media (max-height: 936px) {
    .snooze-container p {
        font-size: 18px;
    }
  }






/*TABLE*/

.table-items {
    display: flex;
    align-items: end;
    gap: 40px;
}






/*CLOCK*/

.clock {
    display: flex;
    flex-direction: column;
}

.clock-snooze {
    background-color: dimgray;
    height: 8px;
    margin: 0 20px;
    border-radius: 4px 4px 0 0 ;
}

.clock-frame {
    background-color: darkgrey;
    padding: 8px;
    border-radius: 20px;
}

.clock-display {
    border-radius: 12px;
    color: #2f2f2f;
    background-color: #36db78;
    box-shadow: 0 0 4px 1px #36db78; 
    padding: 20px 24px;
    font-family: monospace;
    display: flex;
    gap: 12px;
    align-items: center;
}

.clock-display-text {
    display: flex;
    font-size: 48px;
}

.clock-display-colon {
    animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.clock-display-ampm {
    font-size: 16px;
    display: inline-flex;
    flex-direction: column;
}

.am {
    color: #36db78;
}

.pm {
    color: #2f2f2f;
}

.clock-stand {
    height: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.clock-leg {
    background-color: #2f2f2f;
    width: 20%;
}

@media (max-height: 936px) {
    .clock-display-text {
        font-size: 36px;
    }
  }





/*WINE*/

.wine {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wine-lid {
    background-color: #bd9918;
    height: 10px;
    width: 36%;
    border-radius: 8px 8px 0 0;
}

.wine-lip {
    background-color: #aac3f7;
    height: 10px;
    width: 33%;
    border-radius: 4px;
}

.wine-groove {
    background-color: #aac3f7;
    height: 6px;
    width: 28%;
}

.wine-neck {
    background-color: #aac3f7;
    height: 80px;
    width: 33%;
    border-radius: 4px 4px 0 0;
}

.wine-curve {
    background-color: #aac3f7;
    height: 40px;
    width: 100%;
    border-radius: 36px 36px 0 0;
}

.wine-body {
    background-color: #aac3f7;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 8px 8px;
    width: 100px;
    height: 180px;
}

.wine-liquid {
    background-color: rgb(199 124 155);
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

@media (max-height: 936px) {
    .wine-neck {
        height: 48px;
    }
    
    .wine-curve {
        border-radius: 24px 24px 0 0;
        height: 28px;
    }
    
    .wine-body {
        width: 60px;
        height: 120px;
        padding: 0 5px 5px 5px;
    }

    .wine-liquid {
        border-radius: 4px;
    }
}